---
import Banner from '@/components/page/Investment/Banner.astro'
import GoogleSheetDataTable from '@/components/ui/DataTable/GoogleSheetDataTable'
import { LOCALES, useTranslations, type Lang } from '@/i18n'
import Layout from '@/layouts/Layout.astro'
const t = useTranslations(Astro.currentLocale as Lang)
const lang = Astro.params.lang || 'en'
export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang }
	}))
---

<Layout title="Forex ">
	<Banner
		title={t({
			en: 'Metals',
			ar: 'المعادن',
			es: 'Metales',
			fr: 'Métaux',
			hi: 'धातु',
			id: 'Logam',
			ms: 'Logam',
			th: 'โลหะ',
			vi: 'Kim loại',
			bn: 'মেটালস',
			'zh-hans': '金属',
			'pt-br': 'Metais'
		})}
		description={t({
			en: 'Trading precious metals is not only about buying bars of gold or silver. Try CFDs on precious metals as your trading alternative. Customizable account, live charts, and analytical tools are covered!',
			ar: 'تداول المعادن الثمينة ليس مجرد شراء قضبان من الذهب أو الفضة. جرب عقود الفروقات على المعادن الثمينة كبديل للتداول. الحسابات القابلة للتخصيص، الرسوم البيانية المباشرة، وأدوات التحليل مشمولة!',
			es: 'El comercio de metales preciosos no se trata solo de comprar lingotes de oro o plata. Prueba los CFDs sobre metales preciosos como tu alternativa comercial. ¡Cuentas personalizables, gráficos en vivo y herramientas analíticas están cubiertas!',
			fr: "Le trading de métaux précieux ne consiste pas seulement à acheter des barres d'or ou d'argent. Essayez les CFD sur métaux précieux comme alternative de trading. Compte personnalisable, graphiques en direct et outils d'analyse sont couverts !",
			hi: 'कीमती धातुओं का व्यापार केवल सोने या चांदी की सलाखें खरीदने के बारे में नहीं है। कीमती धातुओं पर सीएफडी को अपने व्यापारिक विकल्प के रूप में आजमाएं। अनुकूलित खाता, लाइव चार्ट और विश्लेषणात्मक उपकरण उपलब्ध हैं!',
			id: 'Perdagangan logam mulia tidak hanya tentang membeli batangan emas atau perak. Cobalah CFD pada logam mulia sebagai alternatif perdagangan Anda. Akun yang dapat disesuaikan, grafik langsung, dan alat analisis sudah tersedia!',
			ms: 'Perdagangan logam berharga bukan hanya tentang membeli jongkong emas atau perak. Cuba CFD pada logam berharga sebagai alternatif perdagangan anda. Akaun boleh disesuaikan, carta langsung, dan alat analisis disediakan!',
			th: 'การซื้อขายโลหะมีค่าไม่ใช่แค่การซื้อทองหรือเงินแท่ง ลอง CFDs บนโลหะมีค่าเป็นทางเลือกในการซื้อขายของคุณ บัญชีปรับแต่งได้ แผนภูมิสด และเครื่องมือวิเคราะห์รวมอยู่ด้วย!',
			vi: 'Giao dịch kim loại quý không chỉ là mua các thanh vàng hoặc bạc. Hãy thử CFDs trên kim loại quý như một lựa chọn giao dịch của bạn. Tài khoản có thể tùy chỉnh, biểu đồ trực tiếp và các công cụ phân tích được bao gồm!',
			bn: 'মূল্যবান ধাতুর ব্যবসা শুধুমাত্র সোনার বা রুপোর বার কেনার ব্যাপারে নয়। আপনার ব্যবসার বিকল্প হিসেবে মূল্যবান ধাতুর উপর CFD চেষ্টা করুন। কাস্টমাইজেবল অ্যাকাউন্ট, লাইভ চার্ট এবং বিশ্লেষণাত্মক সরঞ্জাম অন্তর্ভুক্ত!',
			'zh-hans':
				'交易贵金属不仅仅是购买金条或银条。尝试贵金属的差价合约作为您的交易替代方案。可定制的账户、实时图表和分析工具都涵盖在内！',
			'pt-br':
				'Negociar metais preciosos não é apenas comprar barras de ouro ou prata. Experimente CFDs sobre metais preciosos como sua alternativa de negociação. Contas personalizáveis, gráficos ao vivo e ferramentas analíticas estão disponíveis!'
		})}
		image="/src/images/metals_tab.png"
	/>
	<div class="container py-10">
		<div class="pb-10 md:pb-10">
			<h2
				class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
			>
				{
					t({
						en: 'Solidity of the metals CFDs market',
						ar: 'صلابة سوق العقود مقابل الفروقات للمعادن',
						es: 'Solidez del mercado de CFDs de metales',
						fr: 'Solidité du marché des CFDs sur métaux',
						hi: 'मेटल्स सीएफडी मार्केट की मजबूती',
						id: 'Soliditas pasar CFD logam',
						ms: 'Keteguhan pasaran CFD logam',
						th: 'ความมั่นคงของตลาด CFD โลหะ',
						vi: 'Tính ổn định của thị trường CFD kim loại',
						bn: 'মেটাল সিএফডি বাজারের দৃঢ়তা',
						'zh-hans': '金属CFD市场的稳固性',
						'pt-br': 'Solidez do mercado de CFDs de metais'
					})
				}
			</h2>
			<div class="card flex flex-wrap gap-3">
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">1</span>
					</div>
					<h2 class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'Professional customer support',
								ar: 'دعم العملاء المهني',
								es: 'Soporte al cliente profesional',
								fr: 'Support client professionnel',
								hi: 'व्यावसायिक ग्राहक सहायता',
								id: 'Dukungan pelanggan profesional',
								ms: 'Sokongan pelanggan profesional',
								th: 'การสนับสนุนลูกค้ามืออาชีพ',
								vi: 'Hỗ trợ khách hàng chuyên nghiệp',
								bn: 'পেশাদার গ্রাহক সহায়তা',
								'zh-hans': '专业客户支持',
								'pt-br': 'Suporte ao cliente profissional'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'Need quick guidance, help or just have questions? Contact our customer support team and get top-class professional assistance!',
								ar: 'تحتاج إلى إرشادات سريعة أو مساعدة أو لديك أسئلة؟ تواصل مع فريق دعم العملاء لدينا واحصل على مساعدة احترافية من الطراز الأول!',
								es: '¿Necesitas orientación rápida, ayuda o simplemente tienes preguntas? ¡Contacta a nuestro equipo de soporte al cliente y obtén asistencia profesional de primera clase!',
								fr: "Besoin d'une aide rapide, d'assistance ou vous avez des questions ? Contactez notre équipe de support client et obtenez une assistance professionnelle de premier ordre !",
								hi: 'त्वरित मार्गदर्शन, सहायता की आवश्यकता है या आपके पास कोई प्रश्न हैं? हमारे ग्राहक सहायता टीम से संपर्क करें और शीर्ष-स्तरीय पेशेवर सहायता प्राप्त करें!',
								id: 'Butuh panduan cepat, bantuan, atau punya pertanyaan? Hubungi tim dukungan pelanggan kami dan dapatkan bantuan profesional kelas atas!',
								ms: 'Perlu panduan cepat, bantuan atau hanya ada soalan? Hubungi pasukan sokongan pelanggan kami dan dapatkan bantuan profesional bertaraf tinggi!',
								th: 'ต้องการคำแนะนำอย่างรวดเร็ว ความช่วยเหลือ หรือมีคำถาม? ติดต่อทีมสนับสนุนลูกค้าของเราและรับความช่วยเหลือระดับมืออาชีพชั้นนำ!',
								vi: 'Cần hướng dẫn nhanh, trợ giúp hoặc có câu hỏi? Liên hệ với đội ngũ hỗ trợ khách hàng của chúng tôi và nhận được sự trợ giúp chuyên nghiệp hàng đầu!',
								bn: 'দ্রুত নির্দেশনা, সাহায্য বা শুধু প্রশ্ন আছে? আমাদের গ্রাহক সহায়তা দলের সাথে যোগাযোগ করুন এবং শীর্ষ-শ্রেণীর পেশাদার সহায়তা পান!',
								'zh-hans':
									'需要快速指导、帮助或有任何问题？联系我们的客户支持团队，获取顶级专业协助！',
								'pt-br':
									'Precisa de orientação rápida, ajuda ou apenas tem perguntas? Entre em contato com nossa equipe de suporte ao cliente e obtenha assistência profissional de primeira classe!'
							})
						}
					</p>
				</div>
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">2</span>
					</div>
					<h2 class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'The power of market choice',
								ar: 'قوة اختيار السوق',
								es: 'El poder de la elección del mercado',
								fr: 'Le pouvoir du choix du marché',
								hi: 'बाजार के विकल्प की शक्ति',
								id: 'Kekuatan pilihan pasar',
								ms: 'Kuasa pilihan pasaran',
								th: 'อำนาจของการเลือกตลาด',
								vi: 'Sức mạnh của sự lựa chọn thị trường',
								bn: 'বাজারের পছন্দের শক্তি',
								'zh-hans': '市场选择的力量',
								'pt-br': 'O poder da escolha de mercado'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'Choose among CFDs on available precious metals or trade them all – the choice is yours. Feel the power of the market with no restrictions.',
								ar: 'اختر من بين عقود الفروقات على المعادن الثمينة المتاحة أو تداولها جميعًا - الخيار لك. اشعر بقوة السوق دون قيود.',
								es: 'Elige entre los CFDs de los metales preciosos disponibles o negocia todos ellos: la elección es tuya. Siente el poder del mercado sin restricciones.',
								fr: 'Choisissez parmi les CFD sur les métaux précieux disponibles ou tradez-les tous : le choix vous appartient. Ressentez la puissance du marché sans restrictions.',
								hi: 'उपलब्ध कीमती धातुओं पर CFDs में से चुनें या सभी का व्यापार करें - यह आपकी पसंद है। बिना किसी प्रतिबंध के बाजार की शक्ति को महसूस करें।',
								id: 'Pilih di antara CFD pada logam mulia yang tersedia atau perdagangkan semuanya - pilihannya ada pada Anda. Rasakan kekuatan pasar tanpa batasan.',
								ms: 'Pilih antara CFD pada logam berharga yang tersedia atau dagangkan semuanya - pilihan adalah milik anda. Rasakan kuasa pasaran tanpa sekatan.',
								th: 'เลือกจาก CFDs บนโลหะมีค่าในมือหรือทำการซื้อขายทั้งหมด - ตัวเลือกอยู่ที่คุณ รู้สึกถึงพลังของตลาดโดยไม่มีข้อจำกัด',
								vi: 'Chọn giữa CFDs trên các kim loại quý có sẵn hoặc giao dịch tất cả - sự lựa chọn là của bạn. Cảm nhận sức mạnh của thị trường mà không bị hạn chế.',
								bn: 'উপলব্ধ মূল্যবান ধাতুর উপর CFDs থেকে নির্বাচন করুন অথবা সেগুলি সবগুলোর ব্যবসা করুন - এটি আপনার পছন্দ। কোনও বিধিনিষেধ ছাড়াই বাজারের শক্তি অনুভব করুন।',
								'zh-hans':
									'在可用的贵金属CFD中选择，或者全部交易 - 选择权在您手中。感受无任何限制的市场力量。',
								'pt-br':
									'Escolha entre CFDs em metais preciosos disponíveis ou negocie todos eles - a escolha é sua. Sinta o poder do mercado sem restrições.'
							})
						}
					</p>
				</div>
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">3</span>
					</div>
					<h2 class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'CFDs metals market solidity',
								ar: 'صلابة سوق المعادن للعقود مقابل الفروقات',
								es: 'Solidez del mercado de metales CFDs',
								fr: 'Solidité du marché des métaux CFD',
								hi: 'CFDs धातु बाजार की मजबूती',
								id: 'Kekuatan pasar logam CFD',
								ms: 'Ketahanan pasaran logam CFD',
								th: 'ความมั่นคงของตลาดโลหะ CFD',
								vi: 'Sự vững chắc của thị trường kim loại CFD',
								bn: 'CFDs ধাতু বাজারের শক্তিশালী',
								'zh-hans': 'CFD金属市场的稳固性',
								'pt-br': 'Solidez do mercado de metais CFDs'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'Trading metals CFDs is as exciting as it is challenging. Being a diversifier of any trader’s portfolio, it attracts hundreds of people. Choose among CFDs and place your first bid today.',
								ar: 'تداول عقود الفروقات للمعادن مثير بقدر ما هو تحدٍ. كونه مُنوعًا لمحفظة أي متداول، فإنه يجذب المئات من الأشخاص. اختر من بين عقود الفروقات وضع عرضك الأول اليوم.',
								es: 'Operar con CFDs de metales es tan emocionante como desafiante. Siendo un diversificador de la cartera de cualquier trader, atrae a cientos de personas. Elige entre CFDs y haz tu primera oferta hoy.',
								fr: "Le trading de CFDs sur les métaux est aussi excitant que challengeant. En tant que diversificateur du portefeuille de tout trader, il attire des centaines de personnes. Choisissez parmi les CFDs et placez votre première offre aujourd'hui.",
								hi: 'धातु के CFDs का व्यापार उतना ही रोमांचक है जितना कि यह चुनौतीपूर्ण है। किसी भी ट्रेडर के पोर्टफोलियो का विविधीकरण करने वाला, यह सैकड़ों लोगों को आकर्षित करता है। CFDs में से चुनें और आज अपना पहला बोली लगाएं।',
								id: 'Perdagangan CFD logam sama menariknya dengan tantangannya. Sebagai diversifikasi portofolio trader mana pun, ini menarik ratusan orang. Pilih dari CFD dan tempatkan tawaran pertama Anda hari ini.',
								ms: 'Perdagangan CFD logam sama menariknya dengan cabarannya. Sebagai pembeza portfolio mana-mana peniaga, ia menarik ratusan orang. Pilih dari CFD dan buat bidaan pertama anda hari ini.',
								th: 'การซื้อขาย CFD โลหะนั้นน่าตื่นเต้นไม่แพ้กับความท้าทาย ในฐานะที่เป็นตัวกระจายความเสี่ยงของพอร์ตโฟลิโอของนักเทรดทุกคน มันดึงดูดผู้คนหลายร้อยคน เลือกจาก CFD และวางเดิมพันแรกของคุณวันนี้',
								vi: 'Giao dịch CFD kim loại vừa thú vị vừa đầy thách thức. Là một yếu tố đa dạng hóa trong danh mục đầu tư của bất kỳ nhà giao dịch nào, nó thu hút hàng trăm người. Chọn trong số các CFD và đặt giá thầu đầu tiên của bạn hôm nay.',
								bn: 'ধাতু CFDs ট্রেডিং উত্সাহজনক এবং চ্যালেঞ্জিং উভয়ই। এটি যেকোনো ট্রেডারের পোর্টফোলিওর একটি বৈচিত্র্যকারী হিসেবে কাজ করে, যা শত শত লোককে আকৃষ্ট করে। CFDs-এর মধ্যে থেকে নির্বাচন করুন এবং আজই আপনার প্রথম বিডটি দিন।',
								'zh-hans':
									'交易金属CFD既令人兴奋又充满挑战。作为任何交易者投资组合的多元化工具，它吸引了数百人。选择CFD并在今天下达您的第一个出价。',
								'pt-br':
									'Negociar CFDs de metais é tão emocionante quanto desafiador. Sendo um diversificador do portfólio de qualquer trader, atrai centenas de pessoas. Escolha entre CFDs e faça sua primeira oferta hoje.'
							})
						}
					</p>
				</div>
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">3</span>
					</div>
					<h2 class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'Your hedge against inflation',
								ar: 'حماية لك ضد التضخم',
								es: 'Tu cobertura contra la inflación',
								fr: "Votre couverture contre l'inflation",
								hi: 'महंगाई के खिलाफ आपकी बचत',
								id: 'Perlindungan Anda terhadap inflasi',
								ms: 'Perlindungan anda daripada inflasi',
								th: 'การป้องกันของคุณจากเงินเฟ้อ',
								vi: 'Biện pháp bảo vệ của bạn trước lạm phát',
								bn: 'মুদ্রাস্ফীতির বিরুদ্ধে আপনার হেজ',
								'zh-hans': '您对抗通货膨胀的对冲',
								'pt-br': 'Sua proteção contra a inflação'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'Like being in control of your trading portfolio? Start with CFDs on precious metals and try using them as a hedge against market inflation.',
								ar: 'هل تحب السيطرة على محفظتك التجارية؟ ابدأ بعقود الفروقات على المعادن الثمينة وحاول استخدامها كحماية ضد تضخم السوق.',
								es: '¿Te gusta tener el control de tu cartera de trading? Comienza con CFDs sobre metales preciosos y prueba a utilizarlos como cobertura contra la inflación del mercado.',
								fr: "Vous aimez avoir le contrôle de votre portefeuille de trading ? Commencez avec des CFDs sur les métaux précieux et essayez de les utiliser comme couverture contre l'inflation du marché.",
								hi: 'क्या आपको अपने ट्रेडिंग पोर्टफोलियो पर नियंत्रण रखना पसंद है? कीमती धातुओं पर CFDs के साथ शुरू करें और इन्हें बाजार की महंगाई के खिलाफ हेज के रूप में उपयोग करने की कोशिश करें।',
								id: 'Suka mengendalikan portofolio trading Anda? Mulailah dengan CFD pada logam mulia dan coba gunakan sebagai perlindungan terhadap inflasi pasar.',
								ms: 'Suka mengawal portfolio perdagangan anda? Mulakan dengan CFD pada logam berharga dan cuba menggunakannya sebagai perlindungan terhadap inflasi pasaran.',
								th: 'ชอบควบคุมพอร์ตการลงทุนของคุณใช่ไหม? เริ่มต้นด้วย CFDs บนโลหะมีค่าและลองใช้พวกมันเป็นการป้องกันความเสี่ยงจากเงินเฟ้อในตลาด',
								vi: 'Bạn có thích kiểm soát danh mục giao dịch của mình không? Bắt đầu với CFDs trên kim loại quý và thử sử dụng chúng như một cách phòng ngừa lạm phát trên thị trường.',
								bn: 'আপনার ট্রেডিং পোর্টফোলিও নিয়ন্ত্রণে রাখতে পছন্দ করেন? মূল্যবান ধাতু সম্পর্কিত CFDs দিয়ে শুরু করুন এবং এগুলিকে বাজারের মুদ্রাস্ফীতির বিরুদ্ধে হেজ হিসেবে ব্যবহারের চেষ্টা করুন।',
								'zh-hans':
									'喜欢控制自己的交易组合吗？从贵金属的CFD开始，并尝试将其作为对抗市场通货膨胀的对冲工具。',
								'pt-br':
									'Gosta de ter controle sobre sua carteira de trading? Comece com CFDs sobre metais preciosos e tente usá-los como proteção contra a inflação do mercado.'
							})
						}
					</p>
				</div>
			</div>
		</div>

		<div class="w-full space-y-4">
			<h1
				class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
			>
				{
					t({
						en: 'Why trade CFDs on metals with DB Investing?',
						ar: 'لماذا تتداول عقود الفروقات على المعادن مع DB Investing؟',
						es: '¿Por qué negociar CFDs sobre metales con DB Investing?',
						fr: 'Pourquoi trader des CFDs sur les métaux avec DB Investing ?',
						hi: 'DB Investing के साथ धातुओं पर CFDs का व्यापार क्यों करें?',
						id: 'Mengapa berdagang CFD pada logam dengan DB Investing?',
						ms: 'Mengapa berdagang CFD pada logam dengan DB Investing?',
						th: 'ทำไมต้องซื้อขาย CFD บนโลหะกับ DB Investing?',
						vi: 'Tại sao lại giao dịch CFDs trên kim loại với DB Investing?',
						bn: 'DB Investing-এর সাথে ধাতু নিয়ে CFDs কেন ট্রেড করবেন?',
						'zh-hans': '为什么选择与DB Investing一起交易贵金属的CFD？',
						'pt-br': 'Por que negociar CFDs sobre metais com a DB Investing?'
					})
				}
			</h1>
			<p class="text-color">
				{
					t({
						en: 'We provide a great choice among CFDs on the most popular precious metals in the world.',
						ar: 'نحن نقدم خيارًا رائعًا بين عقود الفروقات على أكثر المعادن الثمينة شعبية في العالم.',
						es: 'Ofrecemos una gran elección entre CFDs sobre los metales preciosos más populares del mundo.',
						fr: 'Nous proposons un large choix de CFDs sur les métaux précieux les plus populaires au monde.',
						hi: 'हम दुनिया के सबसे लोकप्रिय कीमती धातुओं पर CFDs के बीच एक बड़ा विकल्प प्रदान करते हैं।',
						id: 'Kami menyediakan pilihan yang bagus di antara CFD pada logam berharga paling populer di dunia.',
						ms: 'Kami menyediakan pilihan yang hebat di antara CFD pada logam berharga paling popular di dunia.',
						th: 'เรามีตัวเลือกที่ยอดเยี่ยมใน CFD บนโลหะมีค่าในโลกที่ได้รับความนิยมมากที่สุด',
						vi: 'Chúng tôi cung cấp nhiều lựa chọn về CFDs trên các kim loại quý phổ biến nhất thế giới.',
						bn: 'আমরা বিশ্বের সবচেয়ে জনপ্রিয় মূল্যবান ধাতুর উপর CFDs এর মধ্যে একটি চমৎকার পছন্দ প্রদান করি।',
						'zh-hans': '我们提供世界上最受欢迎的贵金属CFD的绝佳选择。',
						'pt-br':
							'Oferecemos uma ótima escolha entre CFDs sobre os metais preciosos mais populares do mundo.'
					})
				}
			</p>
			<p class="text-color">
				{
					t({
						en: 'DB Investing offers various account types, multiple charts and 60+ professional analytical tools to support your most daring market plans.',
						ar: 'يقدم DB Investing أنواعًا مختلفة من الحسابات ، والعديد من المخططات ، وأكثر من 60 أداة تحليلية احترافية لدعم أكثر خططك السوقية جرأة.',
						es: 'DB Investing ofrece varios tipos de cuentas, múltiples gráficos y más de 60 herramientas analíticas profesionales para apoyar tus planes de mercado más audaces.',
						fr: "DB Investing propose différents types de comptes, plusieurs graphiques et plus de 60 outils d'analyse professionnelle pour soutenir vos plans de marché les plus audacieux.",
						hi: 'DB Investing विभिन्न खाता प्रकार, कई चार्ट और 60+ पेशेवर विश्लेषणात्मक उपकरण प्रदान करता है ताकि आपके सबसे साहसी बाजार योजनाओं का समर्थन किया जा सके।',
						id: 'DB Investing menawarkan berbagai jenis akun, beberapa grafik, dan lebih dari 60 alat analisis profesional untuk mendukung rencana pasar Anda yang paling berani.',
						ms: 'DB Investing menawarkan pelbagai jenis akaun, pelbagai carta dan lebih daripada 60 alat analisis profesional untuk menyokong rancangan pasaran anda yang paling berani.',
						th: 'DB Investing เสนอประเภทบัญชีที่หลากหลาย กราฟหลายแบบ และเครื่องมือวิเคราะห์ระดับมืออาชีพมากกว่า 60 รายการ เพื่อสนับสนุนแผนการตลาดที่กล้าหาญที่สุดของคุณ',
						vi: 'DB Investing cung cấp nhiều loại tài khoản, nhiều biểu đồ và hơn 60 công cụ phân tích chuyên nghiệp để hỗ trợ kế hoạch thị trường táo bạo nhất của bạn.',
						bn: 'DB Investing বিভিন্ন অ্যাকাউন্টের ধরন, একাধিক চার্ট এবং 60+ পেশাদার বিশ্লেষণাত্মক টুল অফার করে আপনার সবচেয়ে সাহসী বাজার পরিকল্পনাগুলিকে সমর্থন করার জন্য।',
						'zh-hans':
							'DB Investing 提供多种账户类型、多种图表和 60 多种专业分析工具，以支持您最大胆的市场计划。',
						'pt-br':
							'O DB Investing oferece vários tipos de contas, múltiplos gráficos e mais de 60 ferramentas analíticas profissionais para apoiar seus planos de mercado mais ousados.'
					})
				}
			</p>
			<p class="font-semibold">
				{
					t({
						en: 'Advantages',
						ar: 'مزايا',
						es: 'Ventajas',
						fr: 'Avantages',
						hi: 'फायदे',
						id: 'Keuntungan',
						ms: 'Kelebihan',
						th: 'ข้อดี',
						vi: 'Lợi ích',
						bn: 'সুবিধা',
						'zh-hans': '优势',
						'pt-br': 'Vantagens'
					})
				}
			</p>
			<ul class="list-disc px-3">
				<li class="text-color">
					{
						t({
							en: 'A among 5 assets’ CFDs',
							ar: 'أحد بين 5 أصول من CFDs',
							es: 'Uno entre 5 CFDs de activos',
							fr: "Un parmi 5 CFDs d'actifs",
							hi: '5 परिसंपत्तियों के CFDs में से एक',
							id: 'Salah satu di antara 5 CFD aset',
							ms: 'Salah satu daripada 5 CFD aset',
							th: 'หนึ่งใน CFDs ของสินทรัพย์ 5 รายการ',
							vi: 'Một trong 5 CFD tài sản',
							bn: '5টি সম্পত্তির CFDs এর মধ্যে একটি',
							'zh-hans': '5个资产的CFD中的一个',
							'pt-br': 'Um entre 5 CFDs de ativos'
						})
					}
				</li>
				<li class="text-color">
					{
						t({
							en: 'Professional customer support service',
							ar: 'خدمة دعم العملاء المحترفة',
							es: 'Servicio de atención al cliente profesional',
							fr: "Service d'assistance clientèle professionnel",
							hi: 'पेशेवर ग्राहक सहायता सेवा',
							id: 'Layanan dukungan pelanggan profesional',
							ms: 'Perkhidmatan sokongan pelanggan profesional',
							th: 'บริการสนับสนุนลูกค้าแบบมืออาชีพ',
							vi: 'Dịch vụ hỗ trợ khách hàng chuyên nghiệp',
							bn: 'পেশাদার গ্রাহক সহায়তা পরিষেবা',
							'zh-hans': '专业客户支持服务',
							'pt-br': 'Serviço de suporte ao cliente profissional'
						})
					}
				</li>
				<li class="text-color">
					{
						t({
							en: 'High execution speed of the platform',
							ar: 'سرعة تنفيذ عالية للمنصة',
							es: 'Alta velocidad de ejecución de la plataforma',
							fr: "Haute vitesse d'exécution de la plateforme",
							hi: 'प्लेटफ़ॉर्म की उच्च निष्पादन गति',
							id: 'Kecepatan eksekusi tinggi dari platform',
							ms: 'Kelajuan pelaksanaan tinggi platform',
							th: 'ความเร็วในการดำเนินการสูงของแพลตฟอร์ม',
							vi: 'Tốc độ thực hiện cao của nền tảng',
							bn: 'প্ল্যাটফর্মের উচ্চ নির্বাহী গতি',
							'zh-hans': '平台的高执行速度',
							'pt-br': 'Alta velocidade de execução da plataforma'
						})
					}
				</li>
			</ul>
		</div>
		<div class="mt-7 w-full space-y-4">
			<h1
				class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
			>
				{
					t({
						en: 'How does CFDs metal trading work?',
						ar: 'كيف يعمل تداول المعادن بالعقود مقابل الفروقات؟',
						es: '¿Cómo funciona el trading de metales con CFDs?',
						fr: 'Comment fonctionne le trading de métaux avec des CFD ?',
						hi: 'सीएफडी धातु व्यापार कैसे काम करता है?',
						id: 'Bagaimana cara kerja perdagangan logam CFD?',
						ms: 'Bagaimana perdagangan logam CFD berfungsi?',
						th: 'การซื้อขายโลหะ CFD ทำงานอย่างไร?',
						vi: 'Giao dịch kim loại CFD hoạt động như thế nào?',
						bn: 'সিএফডি ধাতু বাণিজ্য কীভাবে কাজ করে?',
						'zh-hans': 'CFD金属交易是如何工作的？',
						'pt-br': 'Como funciona a negociação de metais com CFDs?'
					})
				}
			</h1>
			<p class="text-color">
				{
					t({
						en: 'As the market of online trading grows, so do the opportunities of every single trader.',
						ar: 'مع نمو سوق التداول عبر الإنترنت، تزداد الفرص لكل تاجر.',
						es: 'A medida que crece el mercado de trading en línea, también lo hacen las oportunidades de cada trader.',
						fr: 'À mesure que le marché du trading en ligne se développe, les opportunités de chaque trader augmentent également.',
						hi: 'जैसे-जैसे ऑनलाइन ट्रेडिंग का बाजार बढ़ता है, हर एक ट्रेडर के लिए अवसर भी बढ़ते हैं।',
						id: 'Seiring pertumbuhan pasar trading online, begitu juga dengan peluang setiap trader.',
						ms: 'Seiring pertumbuhan pasaran perdagangan dalam talian, begitu juga dengan peluang setiap pedagang.',
						th: 'เมื่อ ตลาดการซื้อขายออนไลน์ เติบโต โอกาสของผู้ซื้อขายแต่ละคนก็เพิ่มขึ้นเช่นกัน',
						vi: 'Khi thị trường giao dịch trực tuyến phát triển, cơ hội của từng nhà giao dịch cũng tăng lên.',
						bn: 'অনলাইন ট্রেডিংয়ের বাজার বাড়ার সাথে সাথে প্রতিটি ব্যবসায়ীর সুযোগও বাড়ে।',
						'zh-hans': '随着在线交易市场的增长，每个交易者的机会也在增加。',
						'pt-br':
							'À medida que o mercado de negociação online cresce, as oportunidades de cada trader também crescem.'
					})
				}
			</p>
			<p class="text-color">
				{
					t({
						en: 'No need to buy metals or invest directly in them.',
						ar: 'لا حاجة لشراء المعادن أو الاستثمار مباشرة فيها.',
						es: 'No es necesario comprar metales ni invertir directamente en ellos.',
						fr: "Pas besoin d'acheter des métaux ou d'investir directement en eux.",
						hi: 'धातुओं को खरीदने या उनमें सीधे निवेश करने की कोई आवश्यकता नहीं है।',
						id: 'Tidak perlu membeli logam atau berinvestasi langsung di dalamnya.',
						ms: 'Tiada keperluan untuk membeli logam atau melabur secara langsung di dalamnya.',
						th: 'ไม่จำเป็นต้องซื้อโลหะหรือลงทุนโดยตรงในนั้น',
						vi: 'Không cần mua kim loại hoặc đầu tư trực tiếp vào chúng.',
						bn: 'ধাতু কেনার বা তাদের মধ্যে সরাসরি বিনিয়োগের কোনও প্রয়োজন নেই।',
						'zh-hans': '无需购买金属或直接投资于它们。',
						'pt-br': 'Não é necessário comprar metais ou investir diretamente neles.'
					})
				}
			</p>
			<p class="text-color">
				Choose among the most popular assets and hit trading with your best strategy.
			</p>
		</div>
	</div>
	<div class="container pb-10 pt-4">
		<GoogleSheetDataTable sheetName="Metals" client:load language={lang} />
	</div>
</Layout>
