---
import { LOCALES, useTranslations, type Lang } from '@/i18n'
import EventList from '@/components/page/event/EventList'
import EventLayoutSideBar from '@/components/page/event/EventLayoutSideBar.astro'

// export const prerender = false
const lang = Astro.params.lang || 'en'
const t = useTranslations(Astro.currentLocale as Lang)
const title = t({
	en: 'Blog',
	ar: 'افتح حساب',
	es: 'Abrir una cuenta',
	fr: 'Ouvrir un compte',
	hi: 'खाता खोलें',
	id: 'Buka Akun',
	ms: 'Buka Akaun',
	th: 'เปิดบัญชี',
	vi: 'Mở một tài khoản',
	bn: 'একটি অ্যাকাউন্ট খুলুন',
	'zh-hans': '开设账户'
})

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang }
	}))
---

<EventLayoutSideBar title={title}>
	<!-- Content -->
	<div
		class="lg:col-span-2"
		slot="eventContent"
	>
		<div class="py-14 lg:pe-8">
			<div class="space-y-5 lg:space-y-8">
				<div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
					<h2
						class="text-2xl font-bold dark:text-white md:text-4xl md:leading-tight"
						data-aos="fade-up-sm"
					>
						{
							t({
								en: 'Live Webinars and Seminars',
								ar: 'الندوات المباشرة والحلقات الدراسية',
								es: 'Seminarios y Webinars en Vivo',
								fr: 'Webinaires et Séminaires en Direct',
								hi: 'लाइव वेबिनार और सेमिनार',
								id: 'Webinar dan Seminar Langsung',
								ms: 'Webinar dan Seminar Secara Langsung',
								th: 'สัมมนาและการสัมมนาผ่านเว็บสด',
								vi: 'Hội thảo và Hội thảo Trực tuyến',
								bn: 'লাইভ ওয়েবিনার এবং সেমিনার',
								'zh-hans': '直播网络研讨会和讲座',
								'pt-br': 'Webinars e Seminários ao Vivo'
							})
						}
					</h2>
				</div>
				<div>
					<EventList
						client:load
						lang={lang}
					/>
				</div>
			</div>
		</div>
	</div>
	<!-- End Content -->
</EventLayoutSideBar>
