---
import { LOCALES } from '@/i18n'
import Layout from '@/layouts/Layout.astro'

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang }
	}))
---

<Layout title="Account Types ">
	<section>
		<div
			class="relative z-20 w-full overflow-hidden bg-gray-100 py-3 before:absolute before:start-1/2 before:top-0 before:-z-[1] before:size-full before:-translate-x-1/2 before:transform before:bg-[url('/src/images/world_bg.png')] before:bg-center before:bg-no-repeat before:opacity-45 before:hue-rotate-60 dark:bg-black dark:before:bg-[url('/src/images/world_bg.png')]"
		>
			<div
				class="container flex flex-col items-center justify-between gap-6 py-10 sm:flex-row"
			>
				<div>
					<h1
						class="block text-center text-4xl font-bold text-gray-800 dark:text-neutral-200 md:text-4xl lg:text-5xl"
					>
						<strong class="text-green-500">Account</strong> Comparisson
					</h1>
				</div>
				<div>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="w-[120px] md:w-[180px]"
						height="auto"
						viewBox="0 0 20 20"
					>
						<path
							fill="currentColor"
							d="M5.497 3a2.5 2.5 0 0 0-2.5 2.5v9a2.5 2.5 0 0 0 2.5 2.5h4.664a3.5 3.5 0 0 1-.16-1H5.497a1.5 1.5 0 0 1-1.5-1.5V7H17V6h-.003v-.5a2.5 2.5 0 0 0-2.5-2.5zm10.5 2.5V6h-12v-.5a1.5 1.5 0 0 1 1.5-1.5h9a1.5 1.5 0 0 1 1.5 1.5M15 12a1.5 1.5 0 0 1 0-3h2a2.5 2.5 0 1 0 0 3zm-2.45 3c-.115 0-.25.06-.369.193a.68.68 0 0 0-.181.427v.32c0 .889.97 2.06 3 2.06h2.988c-.708.608-1.747 1-2.988 1c-2.367 0-4-1.426-4-3.06v-.32c0-.405.175-.8.434-1.091c.261-.294.651-.529 1.116-.529h4.9c.465 0 .855.235 1.116.529c.122.137.226.298.3.471zm4.95-4.5q0 .257-.05.5H15v-1h2.45q.05.243.05.5M15 17h3.761a2.5 2.5 0 0 0 .238-1H15z"
						></path>
					</svg>
				</div>
			</div>
		</div>

		<!-- Comparison Table -->
		<div class="relative">
			<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 md:py-14 lg:px-8 lg:py-20">
				<div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
					<h2 class="text-2xl font-bold dark:text-white md:text-3xl md:leading-tight">
						Compare Account Types
					</h2>
				</div>

				<!-- Header -->
				<div
					class="sticky start-0 top-0 hidden bg-white/60 py-2 backdrop-blur-md dark:bg-neutral-900/60 lg:block"
				>
					<!-- Grid -->
					<div class="grid grid-cols-6 gap-6">
						<div class="col-span-1">
							<span
								class="text-lg font-semibold text-dbgreen-600 dark:text-dbgreen-500"
							>
							</span>
						</div>
						<!-- End Col -->

						<div class="col-span-1">
							<span
								class="text-lg font-semibold text-dbgreen-600 dark:text-dbgreen-500"
							>
								STP
							</span>
						</div>
						<!-- End Col -->

						<div class="col-span-1">
							<span
								class="text-lg font-semibold text-dbgreen-600 dark:text-dbgreen-500"
							>
								ECN
							</span>
						</div>
						<!-- End Col -->

						<div class="col-span-1">
							<span
								class="text-lg font-semibold text-dbgreen-600 dark:text-dbgreen-500"
							>
								PRO
							</span>
						</div>
						<!-- End Col -->

						<div class="col-span-1">
							<span
								class="text-lg font-semibold text-dbgreen-600 dark:text-dbgreen-500"
							>
								ISLAMIC
							</span>
						</div>
						<!-- End Col -->

						<div class="col-span-1">
							<span
								class="text-lg font-semibold text-dbgreen-600 dark:text-dbgreen-500"
							>
								ISLAMIC+
							</span>
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->
				</div>
				<!-- End Header -->

				<!-- Section -->
				<div class="space-y-4 lg:space-y-0">
					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="lg:col-span-2 lg:py-3">
							<span class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="hidden px-4 py-1.5 lg:col-span-1 lg:block lg:px-0 lg:py-3 lg:text-center"
						>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="hidden px-4 py-1.5 lg:col-span-1 lg:block lg:px-0 lg:py-3 lg:text-center"
						>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="hidden px-4 py-1.5 lg:col-span-1 lg:block lg:px-0 lg:py-3 lg:text-center"
						>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="hidden px-4 py-1.5 lg:col-span-1 lg:block lg:px-0 lg:py-3 lg:text-center"
						>
						</li>
						<!-- End Item -->
					</ul>
					<!-- End List -->

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Minimum Deposit
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ 100
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ 100
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ 100
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ 100
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ 100
								</span>
							</div>
						</li>
						<!-- End Item -->
					</ul>
					<!-- End List -->

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Spread as low as
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200"> 1 </span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.0
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.3
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200"> 1 </span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.0
								</span>
							</div>
							<!-- End Item -->
						</li>
						<!-- End List -->
					</ul>

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Minimum Trade Size
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.01
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.01
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.01
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.01
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									0.01
								</span>
							</div>
							<!-- End Item -->
						</li>
						<!-- End List -->
					</ul>
					<!-- End List -->

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Platform
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									MT5, Sirix
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									MT5, Sirix
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									MT5, Sirix
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									MT5, Sirix
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									MT5, Sirix
								</span>
							</div>
							<!-- End Item -->
						</li>
						<!-- End List -->
					</ul>
					<!-- End List -->

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Leverage Up to
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									1:1000
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									1:1000
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									1:1000
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									1:1000
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									1:1000
								</span>
							</div>
							<!-- End Item -->
						</li>
						<!-- End List -->
					</ul>
					<!-- End List -->

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Commission
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									No Commission
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									From $4.00 per lot per side
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									From $1.50 per lot per side
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									No Commission
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									No Commission
								</span>
							</div>
							<!-- End Item -->
						</li>
						<!-- End List -->
					</ul>
					<!-- End List -->

					<!-- List -->
					<ul class="grid gap-6 lg:grid-cols-6">
						<!-- Item -->
						<li class="pb-1.5 lg:col-span-1 lg:py-3">
							<span
								class="text-sm font-semibold text-dbgreen-600 dark:text-dbgreen-500 lg:font-normal"
							>
								Account Currency
							</span>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									STP
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ USD, € EUR
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ECN
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ USD, € EUR
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									PRO
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ USD, € EUR
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ USD, € EUR
								</span>
							</div>
						</li>
						<!-- End Item -->

						<!-- Item -->
						<li
							class="col-span-1 border-b border-gray-200 py-1.5 dark:border-neutral-800 lg:py-3"
						>
							<div class="grid grid-cols-2 md:grid-cols-6 lg:block">
								<span
									class="text-sm text-dbgreen-600 dark:text-dbgreen-500 md:col-span-2 lg:hidden"
								>
									ISLAMIC+
								</span>
								<span class="text-sm text-gray-800 dark:text-neutral-200">
									$ USD, € EUR
								</span>
							</div>
							<!-- End Item -->
						</li>
						<!-- End List -->
					</ul>
					<!-- End List -->
					<!-- End Section -->
					<!-- Header -->
					<div class="mt-6 hidden lg:block">
						<!-- Grid -->
						<div class="grid grid-cols-6 gap-6">
							<div class="col-span-1"></div>
							<!-- End Col -->
							<div class="col-span-1">
								<a
									class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-gray-200 px-4 py-3 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 focus:bg-gray-50 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
									href="https://my.dbinvesting.com/register/?_ga=2.250468613.2098514257.1685561091-309169148.1685360987"
									target="_blank"
								>
									Open Account
								</a>
							</div>
							<div class="col-span-1">
								<a
									class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-gray-200 px-4 py-3 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 focus:bg-gray-50 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
									href="https://my.dbinvesting.com/register/?_ga=2.250468613.2098514257.1685561091-309169148.1685360987"
									target="_blank"
								>
									Open Account
								</a>
							</div>
							<!-- End Col -->

							<div class="col-span-1">
								<a
									class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-gray-200 px-4 py-3 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 focus:bg-gray-50 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
									href="https://my.dbinvesting.com/register/?_ga=2.250468613.2098514257.1685561091-309169148.1685360987"
									target="_blank"
								>
									Open Account
								</a>
							</div>
							<!-- End Col -->

							<div class="col-span-1">
								<a
									class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-gray-200 px-4 py-3 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 focus:bg-gray-50 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
									href="https://my.dbinvesting.com/register/?_ga=2.250468613.2098514257.1685561091-309169148.1685360987"
									target="_blank"
								>
									Open Account
								</a>
							</div>
							<!-- End Col -->

							<div class="col-span-1">
								<a
									class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-gray-200 px-4 py-3 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 focus:bg-gray-50 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
									href="https://my.dbinvesting.com/register/?_ga=2.250468613.2098514257.1685561091-309169148.1685360987"
									target="_blank"
								>
									Open Account
								</a>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->
					</div>
					<!-- End Header -->
				</div>
			</div>
			<!-- End Comparison Table -->
		</div>
	</section>
</Layout>
