---
import Marquee from '@/components/magicui/marquee'
import { Image } from 'astro:assets'

const detailsLoop = [
	{ title: '0.01 Pips', sub: 'TIGHT SPREADS FROM' },
	{ title: '24/5', sub: 'MULTILINGUAL CUSTOMER SUPPORT' },
	{ title: '$0', sub: 'Free funding option' },
	{ title: 'Balance Protection', sub: 'Negative' },
	{ title: '1:1000', sub: 'Leverage' },
	{ title: 'FSA', sub: 'Regulated' },
	{ title: '20.000$', sub: 'Insurance for each client' },
	{ title: '50$', sub: 'Minimum Deposit' }
]
---

<!-- Clients -->
<section
	class="xl:py-18 border-b-1 border-t-1 mb-14 bg-gray-100 py-[18px] dark:border-neutral-700 dark:bg-neutral-800"
>
	<div class="">
		<div class="relative overflow-hidden">
			<Marquee pauseOnHover gap="0">
				{
					detailsLoop.map((item, index) => (
						<div class="flex min-w-[260px] items-center justify-center border-r border-r-neutral-200 p-3 dark:border-r-neutral-700">
							<div class="flex w-full flex-col items-center justify-center rounded-xl text-center">
								<h3 class="mb-2 text-2xl font-bold capitalize text-dbgreen-900">{item.title}</h3>
								<span class="text-sm font-thin uppercase tracking-wide text-black dark:text-white">
									{item.sub}
								</span>
							</div>
						</div>
					))
				}
			</Marquee>
		</div>
	</div>
</section>
<!-- End Clients -->
