---
import { LOCALES, useTranslations, type Lang } from '@/i18n'
import CompanyIntro from '@/components/page/Home/CompanyIntro.astro'
import TraderSection from '@/components/page/Home/TraderSection.astro'
import CompanyNews from '@/components/page/Home/CompanyNews.astro'
import MarketsTab from '@/components/page/Home/MarketsTab.astro'
import IbBroker from '@/components/page/Home/IbBroker.astro'
import Patners from '@/components/page/Home/Partners.astro'
import StartTrading from '@/components/page/Home/StartTrading.astro'
import OurPayment from '@/components/page/Home/OurPayment.astro'
import Hero from '@/components/page/Home/Hero.astro'
import Layout from '@/layouts/Layout.astro'
export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang }
	}))
---

<Layout>
	<!-- <button
		class="group relative h-12 overflow-hidden overflow-x-hidden rounded-full bg-neutral-950 px-8 py-2 text-neutral-50"
		><span class="relative z-10">Hover Me</span><span
			class="absolute inset-0 overflow-hidden rounded-md"
			><span
				class="btn_gradient absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"
			></span></span
		></button
	> -->
	<Hero />
	<CompanyIntro />
	<MarketsTab />
	<TraderSection />
	<CompanyNews />
	<Patners />
	<IbBroker />
	<StartTrading />
	<OurPayment />
</Layout>
